p, li, dd, dt {
    @include typography($p);
    font-style: normal;
    font-weight: normal;

    &.small-caps,
    .small-caps {
        font-variant: small-caps !important;
        font-size: 120%;
    }
    
    &.small {
        @include typography($small);
    }

    &.lead {
        font-weight: bold;
    }

    &.no-padding {
        padding: 0 !important;
    }
}

p {
    padding: 0 0 22px 0;
    @include desktop {
        padding: 0 0 30px 0;
    }
}

.lead {
    @include typography($lead);
    font-weight: bold;
}

li {
    padding: 0;
}

strong, b,dt {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

center {
    text-align: center;
}
