.container {

    display: block;
    position: relative;

    padding-left: $container-padding;
    padding-right: $container-padding;
    padding-top: 0;
    padding-bottom: 0;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    max-width: 100%;

    @include tablet {
        max-width: containers("tablet");
    }

    @include desktop {
        max-width: containers("desktop");
    }
}