<head prefix="og: http://ogp.me/ns#">

	{% assign author = site.author %}
	{% assign pageurl = site.url | append: site.baseurl | append: page.url | replace: 'index.html','' %}

	{% assign title = site.title | strip_html | strip_newlines | truncate: 200 %}
	{% assign description = site.description | strip_html | strip_newlines | truncate: 200 %}
	{% assign type = "website" %}

	{% if page.image and page.image contains "://" %}
		{% assign image = page.image %}
	{% elsif page.image %}
		{% assign image = site.url | append: site.baseurl | append: site.image-path | append: page.image %}
	{% elsif page.collection %}
		{% assign image = site.url | append: site.baseurl | append: site.image-path | append: '/site/social-media-' | append: page.collection | append: ".png" %}
	{% else %}
		{% assign image = site.url | append: site.baseurl | append: site.social-media-image %}
	{% endif %}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="author" content="{{ author }}">

	<!-- Base URLS, duplicate URLs and feeds -->
	<meta name="url" content="{{ site.url | append: site.baseurl }}">
	<base href="{{ site.url | append: site.baseurl | append: page.url | replace: '/index.html','' }}">
	<!-- Links to top level resource in an hierarchical structure -->
	<link rel="index" href="{{ site.url | append: site.baseurl }}">
	<link rel="canonical" href="{{ pageurl }}">
	<!-- RSS -->

	<!-- Schema.org settings -->
	<meta itemprop="name" 				content="{{ title }}">
	<meta itemprop="description" 		content="{{ description }}">
	<meta itemprop="image" 				content="{{ image }}">

	<!-- Favicons -->
	<link rel="icon" type="image/x-icon" href="{{ site.url | append: site.baseurl | append: site.favicon }}">
	<link rel="icon" href="{{ site.url | append: site.baseurl | append: site.favicon-svg }}">
	<link rel="mask-icon" href="{{ site.url | append: site.baseurl | append: site.favicon-pinned-svg }}" color="{{ site.theme-colour }}">
	<link rel="apple-touch-icon" href="{{ site.url | append: site.baseurl | append: site.favicon-large-png }}">

	<!-- Safari toolbar colors -->
	<meta name="theme-color" content="#fafafa" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#1d1d1d" media="(prefers-color-scheme: dark)">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.url | append: site.baseurl | append: site.asset-path | append: site.css-path | append: '/styles.css' }}">

</head>
