// FONTS
// Font face
$font-family-default: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;
// Font face – Marker pen
$font-family-postitnote: 'Segoe Print', 'Marker Felt', Chilanka, TSCu_Comic, casual, cursive;
// Feature settings
$font-feature-settings: "ss02", "tnum", "liga", "zero", "kern";
$sup-font-feature-settings: "ss02", "tnum", "liga", "zero", "kern", "frac";

// <p>, <li>, etc.
$p: (
    "font-size": (
        "mobile": 22px,
        "tablet": 24px,
        "desktop": 30px
    ),
    "line-height": (
        "mobile": 1.25,
        "tablet": 1.25,
        "desktop": 1.2
    )
);

// <p>, <li>, etc.
$small: (
    "font-size": (
        "mobile": 18px,
        "tablet": 20px,
        "desktop": 24px
    )
);

// <p class="lead">
$lead: (
    "font-size": (
        "mobile": 26px,
        "tablet": 32px,
        "desktop": 43px
    ),
    "line-height": (
        "mobile": 1.25,
        "tablet": 1.25,
        "desktop": 1.2
    )
);

// <h1>
$h1: (
    "font-size": (
        "mobile": 66px,
        "tablet": 80px,
        "desktop": 120px
    ),
    "padding": (
        "mobile": 90px  0 15px 0,
        "tablet": 120px 0 45px 0,
        "desktop": 150px 0 45px 0
    )
);

// <h2>
$h2: (    
    "font-size": (
        "mobile": 45px,
        "tablet": 60px,
        "desktop": 75px
    ),
    "padding": (
        "mobile": 30px 0 45px,
        "tablet": 30px 0 60px,
        "desktop": 30px 0 75px
    )
);

// <h3>
$h3: (
    "font-size": (
        "mobile": 22px,
        "tablet": 26px,
        "desktop": 30px
    ),
    "padding": (
        "mobile": 22px 0 15px,
        "tablet": 26px 0 18px,
        "desktop": 30px 0 20px
    )
);

// <h4>
$h4: (
    "font-size": (
        "mobile": 22px,
        "tablet": 26px,
        "desktop": 30px
    ),
    "padding": (
        "mobile": 0 0 11px,
        "tablet": 0 0 11px,
        "desktop": 0 0 15px
    )
);

// <h5>
$h5: (
    "font-size": (
        "mobile": 22px,
        "tablet": 26px,
        "desktop": 30px
    ),
    "padding": (
        "mobile": 22px 0,
        "tablet": 26px 0,
        "desktop": 30px 0
    )
);