textarea {
    @extend p;
    box-sizing: border-box;
    width: 100%;

    margin-bottom: $container-padding * 2;
    padding: form("input-padding");

    border: form("border-width") solid var(--color);
    border-radius: form("border-radius");

    background: var(--background);
    color: var(--color);

    // Disable inner shadow and remove rounded corners
    -webkit-appearance: none;
    appearance: none;


    &:hover {
        outline: form("border-width") solid var(--cyan);
        outline-offset: 0px;
        border: form("border-width") solid;
    }
    &:focus {
        outline: form("border-width") solid var(--cyan);
        outline-offset: 3px;
        color: var(--color);
        box-shadow: inset 0 0 0 form("border-focus-width");
        border: form("border-width") solid var(--color);
    }

    &:invalid {
        border: form("border-width") solid var(--red);
    }
}
